@charset "utf-8";

.spendings-sum-view {
	font-weight: bold;
}

.spendings-sum-view.excess {
	color: #2baa2b;
}

.spendings-sum-view.lack {
	color: #f44;
}

.media-object .fa {
	width: 40px;
}

.mark-container {
	position: relative;
}

.mark-container .mark {
	position: absolute;
	width: auto;
	top: 0;
	right: 0;
	padding: 0 1px;
	background: white;
	border-radius: 3px;
}

.media-body p {
	margin-right: 55px;
}

.table-view-cell > .second-list-button {
	right: 65px;
}

.column-left {
	padding-right: 7px;
}

.column-center {
	padding-left: 7px;
	padding-right: 7px;
}

.column-right {
	padding-left: 7px;
}

.column-2 {
	width: 50%;
}

.column-4 {
	width: 25%;
}

select {
	height: 40px;
	font-size: 17px;
}

.hidden {
	display: none;
}

.row + hr {
	margin-top: 0;
	margin-bottom: 15px;
}

.btn-block {
	margin-top: 15px;
}

.logo {
	width: 60px;
	margin: 0 10px 10px 0;
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

ol {
	font-size: 14px;
	color: #777;
}

.buy-list .buyed {
	opacity: 0.5;
}

.segmented-control .control-item.active {
	font-weight: bold;
}

.buy-list .placeholder {
	position: relative;
	padding: 11px 65px 11px 15px;
	background-color: #fcf8e3;
	border-bottom: 1px solid #d9d9d9;
	overflow: hidden;
}

.buy-list .placeholder > * {
	opacity: 0.5;
}

.buy-list .moving {
	background-color: #f2f2f2;
	border: 1px solid #a9a9a9;
	border-radius: 2px;
	opacity: 1 !important;
}

.debug {
	font-family: monospace;
}
