@charset "utf-8";

.spendings-sum-view {
	font-weight: bold;
}

.spendings-sum-view.excess {
	color: #9c0;
}

.spendings-sum-view.lack {
	color: #f44;
}

.media-object .fa {
	width: 40px;
}

.media-body p {
	margin-right: 55px;
}

.table-view-cell > .second-list-button {
	right: 65px;
}

.column {
	padding-left: 7px;
	padding-right: 7px;
}

.column:first-child {
	padding-left: 0;
}

.column:last-child {
	padding-right: 0;
}

.column-2 {
	width: 50%;
}

.row + hr {
	margin-top: 0;
	margin-bottom: 15px;
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

ol {
	font-size: 14px;
	color: #777;
}
